.containerFormAccount {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: flex-start; /* Alinea al inicio para evitar que se centren verticalmente */
  flex-direction: row; /* Dos columnas inicialmente */
  gap: 100px; /* Espacio entre columnas */
  padding: 1rem; /* Relleno para el contenedor */
  height: auto; /* Altura del viewport */
}

.formContentAccount {
  background-color: #5B8E7D; /* Fondo para el contenido interno */
  padding: 20px; /* Relleno interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra para efecto visual */
  width: 400px; /* Ancho fijo para cada columna */
  text-align: center; /* Centra el texto */
}

.rowAccount {
  display: flex; /* Activa Flexbox */
  flex-direction: row; /* Coloca elementos en fila */
  justify-content: space-between; /* Espacio entre elementos */
  align-items: center; /* Alinea elementos al centro verticalmente */
  gap: 1rem; /* Espacio entre elementos */
}

.textFieldAccount {
  background-color: #FDF8EB;
  color: #545454;
  border-radius: 4px;
  text-align: left;
}

.botonRegisterAccount {
  background-color: #545454 !important;
  color: #FFFFFF;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
}

.container2FormAccount {
  display: flex;
  flex-direction: row; /* Tres columnas inicialmente */
  justify-content: space-between; /* Espacio entre columnas */
  padding: 1rem; /* Relleno */
  margin-left: 10%;
  margin-right: 10%;
  gap: 2rem; /* Espacio entre columnas */
  background-color: #5B8E7D;
  padding: 20px; /* Relleno */
  border-radius: 10px; /* Bordes redondeados */
}

.form2ContentAccount {
  flex: 1; /* Permite que las columnas se ajusten */
  /*background-color: #5B8E7D; /* Fondo */
  padding: 20px; /* Relleno */
  border-radius: 10px; /* Bordes redondeados */
  text-align: center; /* Centra el texto */
}

.labelAccount{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #545454;
  padding-bottom: 0.25rem;
}

.checkBoxAccount {
  background-color: #FDF8EB;
  color: #545454;
  border-radius: 4px;
  text-align: left;
  padding: 1rem;
}

@media (max-width: 500px) {
  .containerFormAccount {
    display: flex;
    flex-direction: column; /* Cambia a una sola columna */
    align-items: center; /* Centra las columnas */
  }

  .formContentAccount {
    width: auto; /* Ancho fijo para cada columna */
  }

  .container2FormAccount {
    flex-direction: column;
  }
}